.enemy-hp-bar {
  background-color: black;
  border: 1px solid #fff;
  height: 20px;
  position: relative;
  width: 100%;

  > .hp {
    background-color: red;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  > .name {
    text-shadow: 1px 1px #fff;
  }
}
