.enemy-hp-bar {
  background-color: var(--color-darkblue);
  height: 0.6rem;
  margin: 0 20vw;
  position: relative;
  width: 60vw;
  border: 1px solid var(--color-beige-darken);
  backdrop-filter: blur(4px) sepia(0.15);
  filter: drop-shadow(2px 2px var(--color-darkblue));

  &.-boss {
    margin: 0 8vw 0 12vw;
    width: 80vw;
  }

  > .hp {
    background-color: var(--color-beige-lighten);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  > .icon {
    height: 4rem;
    left: -2rem;
    position: absolute;
    top: -2rem;
    width: 4rem;
    filter: drop-shadow(4px 4px var(--color-darkblue));
  }
}
