.enemy-canvas {
  position: relative;

  > .hp {
    position: absolute;
    top: 2rem;
  }

  > .info {
    position: absolute;
    top: 4rem;
    left: 3rem;
    display: flex;
    gap: var(--space-s);
  }

  > .info > .status {
    display: flex;
    height: 3rem;
  }

  > .info > .action {
    width: 3rem;
    height: 3rem;
  }
}

.ally-window {
}
